.mat-toolbar {
  background-color: #00baff;
  color: black;
}

.mat-table {
  width: 100%;
  background-color: #54d3d3;
}

.loading-spinner {
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
